@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* KPMG Blue */
:root {
   --kpmgblue: #00338d;
}

body,
html {
   margin: 0;
   font-family: Montserrat;
   color: black;
   background: #dbefff;
   overflow: hidden;
}

.app {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.page {
   flex: 1;
   overflow: auto;
   padding: 1rem 5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.disabled {
   pointer-events: none;
   opacity: 0.7;
}
