@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* KPMG Blue */
:root {
   --kpmgblue: #00338d;
}

body,
html {
   margin: 0;
   font-family: Montserrat;
   color: black;
   background: #dbefff;
   overflow: hidden;
}

.app {
   display: flex;
   flex-direction: column;
   height: 100vh;
}
